In [68]:
import pandas as pd

CONVERT = pd.read_csv('/Users/xishou/pyprojects/predict_Lottery_ticket/lottery/data/convert.csv')
print("数据总量: %d ." % len(CONVERT))
CONVERT

数据总量: 2732 .

,期数,红_1_exist,红_1_总次数_10,红_1_平均遗漏值_10,红_1_最大遗漏值_10,红_1_本次遗漏_10,红_1_上次遗漏_10,红_1_总次数_30,红_1_平均遗漏值_30,红_1_最大遗漏值_30,...,蓝_16_总次数_50,蓝_16_平均遗漏值_50,蓝_16_最大遗漏值_50,蓝_16_本次遗漏_50,蓝_16_上次遗漏_50,蓝_16_总次数_100,蓝_16_平均遗漏值_100,蓝_16_最大遗漏值_100,蓝_16_本次遗漏_100,蓝_16_上次遗漏_100
0,21088,0,0,1.0,1,1,0,0,1.0,1,...,0,1.0,1,1,0,0,1.0,1,1,0
1,21087,0,0,1.0,1,1,0,0,1.0,1,...,0,1.0,1,1,0,0,1.0,1,1,0
2,21086,0,0,2.0,2,2,0,0,2.0,2,...,0,2.0,2,2,0,0,2.0,2,2,0
3,21085,0,0,1.0,1,1,0,0,1.0,1,...,0,1.0,1,1,0,0,1.0,1,1,0
4,21084,0,0,2.0,2,2,0,0,2.0,2,...,0,2.0,2,2,0,0,2.0,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2727,3005,0,1,2.0,2,2,2,1,2.0,2,...,2,1.0,2,0,1,2,1.0,2,0,1
2728,3004,0,1,1.5,2,1,2,1,1.5,2,...,1,1.5,2,1,2,1,1.5,2,1,2
2729,3003,1,1,1.0,2,0,2,1,1.0,2,...,1,1.0,2,0,2,1,1.0,2,0,2
2730,3002,0,0,2.0,2,2,0,0,2.0,2,...,0,2.0,2,2,0,0,2.0,2,2,0
2731,3001,0,0,1.0,1,1,0,0,1.0,1,...,0,1.0,1,1,0,0,1.0,1,1,0

In [22]:

URL = "https://datachart.500.com/ssq/history/"
path = "newinc/history.php?start={}&end="

BOLL_NAME = [
    "红球号码_1",
    "红球号码_2",
    "红球号码_3",
    "红球号码_4",
    "红球号码_5",
    "红球号码_6",
    "蓝球"
]

BALL_ENUM = None

ATTRIBUTE_ISSUE = '期数'
X_ATTRIBUTES = None
Y_ATTRIBUTES = None

RECENT_COUNTS = [10, 30, 50, 100]

def init():
    global BALL_ENUM, X_ATTRIBUTES, Y_ATTRIBUTES, RECENT_COUNTS
    if BALL_ENUM is not None:
        return
    BALL_ENUM = []
    X_ATTRIBUTES = {}
    Y_ATTRIBUTES = {}
    for ball_type in ['红', '蓝']:
        for ball_num in range(1, 34):
            if ball_type == '蓝' and ball_num > 16:
                break
            BALL_ENUM.append((ball_type, ball_num))
            X_ATTRIBUTES[ball_type + '_' + str(ball_num)] = []
            for suffix in ['总次数_', '平均遗漏值_', '最大遗漏值_', '本次遗漏_', '上次遗漏_']:
                for recent_count in RECENT_COUNTS:
                    X_ATTRIBUTES[ball_type + '_' + str(ball_num)].append(
                        ball_type + '_' + str(ball_num) + '_' + suffix + str(recent_count))
            Y_ATTRIBUTES[ball_type + '_' + str(ball_num)] = ball_type + '_' + str(ball_num) + '_exist'

init()

In [71]:
ball = ('蓝', 1)
key = ball[0] + '_' + str(ball[1])
offset=2
test_x = [ATTRIBUTE_ISSUE,X_ATTRIBUTES[key][0]]
# CONVERT[test_x][offset:-1]
#CONVERT[[ATTRIBUTE_ISSUE,X_ATTRIBUTES[key][0]]][offset+1:]
test_x
CONVERT[test_x][offset:]

data, newest_X = process_data(CONVERT, 0)
data

,期数,红_1_exist,红_2_exist,红_3_exist,红_4_exist,红_5_exist,红_6_exist,红_7_exist,红_8_exist,红_9_exist,...,蓝_16_最大遗漏值_50,蓝_16_最大遗漏值_100,蓝_16_本次遗漏_10,蓝_16_本次遗漏_30,蓝_16_本次遗漏_50,蓝_16_本次遗漏_100,蓝_16_上次遗漏_10,蓝_16_上次遗漏_30,蓝_16_上次遗漏_50,蓝_16_上次遗漏_100
0,21087,0,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,0,0,0,0
1,21086,0,0,0,0,0,1,0,1,0,...,2,2,2,2,2,2,0,0,0,0
2,21085,0,0,0,0,1,1,1,0,0,...,1,1,1,1,1,1,0,0,0,0
3,21084,0,0,0,0,1,0,1,0,1,...,2,2,2,2,2,2,0,0,0,0
4,21083,0,0,0,1,0,0,0,0,1,...,18,32,10,18,18,18,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2726,3005,0,0,0,1,0,1,0,0,0,...,2,2,0,0,0,0,1,1,1,1
2727,3004,0,0,0,1,0,1,1,0,0,...,2,2,1,1,1,1,2,2,2,2
2728,3003,1,0,0,0,0,0,1,0,0,...,2,2,0,0,0,0,2,2,2,2
2729,3002,0,0,0,1,0,0,0,0,1,...,2,2,2,2,2,2,0,0,0,0
2730,3001,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,0,0,0,0

In [75]:
offset=0
history = {}
newest_d_x = {}
x_attributes = []
y_attributes = []
history[ATTRIBUTE_ISSUE] = CONVERT[ATTRIBUTE_ISSUE].values[offset+1:]
newest_d_x[ATTRIBUTE_ISSUE] = CONVERT[ATTRIBUTE_ISSUE].values[offset]
for ball_item in BALL_ENUM:
    k = ball_item[0] + '_' + str(ball_item[1])
    history[Y_ATTRIBUTES[k]] = CONVERT[Y_ATTRIBUTES[k]][offset:-1].values
    for column in X_ATTRIBUTES[k]:
        history[column] = CONVERT[column][offset+1:].values
        newest_d_x[column] = [CONVERT[column][offset]]
    x_attributes += X_ATTRIBUTES[k]
    y_attributes.append(Y_ATTRIBUTES[k])
pd.DataFrame(history, columns=[ATTRIBUTE_ISSUE] + y_attributes + x_attributes)

,期数,红_1_exist,红_2_exist,红_3_exist,红_4_exist,红_5_exist,红_6_exist,红_7_exist,红_8_exist,红_9_exist,...,蓝_16_最大遗漏值_50,蓝_16_最大遗漏值_100,蓝_16_本次遗漏_10,蓝_16_本次遗漏_30,蓝_16_本次遗漏_50,蓝_16_本次遗漏_100,蓝_16_上次遗漏_10,蓝_16_上次遗漏_30,蓝_16_上次遗漏_50,蓝_16_上次遗漏_100
0,21087,0,0,0,1,0,0,0,0,0,...,1,1,1,1,1,1,0,0,0,0
1,21086,0,1,0,0,0,0,0,0,0,...,2,2,2,2,2,2,0,0,0,0
2,21085,0,0,0,0,0,1,0,1,0,...,1,1,1,1,1,1,0,0,0,0
3,21084,0,0,0,0,1,1,1,0,0,...,2,2,2,2,2,2,0,0,0,0
4,21083,0,0,0,0,1,0,1,0,1,...,18,32,10,18,18,18,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2726,3005,1,0,1,0,0,0,0,0,0,...,2,2,0,0,0,0,1,1,1,1
2727,3004,0,0,0,1,0,1,0,0,0,...,2,2,1,1,1,1,2,2,2,2
2728,3003,0,0,0,1,0,1,1,0,0,...,2,2,0,0,0,0,2,2,2,2
2729,3002,1,0,0,0,0,0,1,0,0,...,2,2,2,2,2,2,0,0,0,0
2730,3001,0,0,0,1,0,0,0,0,1,...,1,1,1,1,1,1,0,0,0,0

In [76]:
def process_data(converted_data, offset):
    history = {}
    newest_d_x = {}
    x_attributes = []
    y_attributes = []
    history[ATTRIBUTE_ISSUE] = converted_data[ATTRIBUTE_ISSUE].values[offset+1:]
    newest_d_x[ATTRIBUTE_ISSUE] = converted_data[ATTRIBUTE_ISSUE].values[offset]
    for ball_item in BALL_ENUM:
        k = ball_item[0] + '_' + str(ball_item[1])
        history[Y_ATTRIBUTES[k]] = converted_data[Y_ATTRIBUTES[k]][offset:-1].values
        for column in X_ATTRIBUTES[k]:
            history[column] = converted_data[column][offset+1:].values
            newest_d_x[column] = [converted_data[column][offset]]
        x_attributes += X_ATTRIBUTES[k]
        y_attributes.append(Y_ATTRIBUTES[k])
    return pd.DataFrame(history, columns=[ATTRIBUTE_ISSUE] + y_attributes + x_attributes), pd.DataFrame(
        newest_d_x, columns=[ATTRIBUTE_ISSUE] + x_attributes)

data, newest_X = process_data(CONVERT, 0)
data

,期数,红_1_exist,红_2_exist,红_3_exist,红_4_exist,红_5_exist,红_6_exist,红_7_exist,红_8_exist,红_9_exist,...,蓝_16_最大遗漏值_50,蓝_16_最大遗漏值_100,蓝_16_本次遗漏_10,蓝_16_本次遗漏_30,蓝_16_本次遗漏_50,蓝_16_本次遗漏_100,蓝_16_上次遗漏_10,蓝_16_上次遗漏_30,蓝_16_上次遗漏_50,蓝_16_上次遗漏_100
0,21087,0,0,0,1,0,0,0,0,0,...,1,1,1,1,1,1,0,0,0,0
1,21086,0,1,0,0,0,0,0,0,0,...,2,2,2,2,2,2,0,0,0,0
2,21085,0,0,0,0,0,1,0,1,0,...,1,1,1,1,1,1,0,0,0,0
3,21084,0,0,0,0,1,1,1,0,0,...,2,2,2,2,2,2,0,0,0,0
4,21083,0,0,0,0,1,0,1,0,1,...,18,32,10,18,18,18,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2726,3005,1,0,1,0,0,0,0,0,0,...,2,2,0,0,0,0,1,1,1,1
2727,3004,0,0,0,1,0,1,0,0,0,...,2,2,1,1,1,1,2,2,2,2
2728,3003,0,0,0,1,0,1,1,0,0,...,2,2,0,0,0,0,2,2,2,2
2729,3002,1,0,0,0,0,0,1,0,0,...,2,2,2,2,2,2,0,0,0,0
2730,3001,0,0,0,1,0,0,0,0,1,...,1,1,1,1,1,1,0,0,0,0

In [11]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(data, test_size=0.2, random_state=42)

In [8]:
ball = ('蓝', 1)
key = ball[0] + '_' + str(ball[1])

'蓝_1'